.feedback {
    background-color: #eee;
    background-image: url('../img/feedback-bg.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 448px;


    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 97px;
    }

    &__content-text {
        font-family: Lato;
        font-style: italic;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
        max-width: 360px;
        margin-top: 30px;

    }

    &__content-form {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 104px;
    }

    &__content-title {
        font-family: Lato;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        color: #222224;
    }

    &__content-form-text {
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #222224;
        margin-bottom: 32px;
        text-align: center;
    }

    &__content-btn {
        padding: 20px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        background-color: $main-color;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        transition: all .4s;
        &:hover {

            background-color: #da1c35;
            animation:  shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

        }


    }

    &__input {
        background-color: #E1E1E1;
        padding: 20px;
        border: none;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #222224;

        &::placeholder {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #222224;
            opacity: 0.67;
        }

        &:hover {
            background-color: #e9e9e9;
            animation:  shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        }

    }

    &__form {
        display: flex;
    }
}