* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.wraper {
  margin: 0 auto;
  width: 1140px;
}

.header {
  background: #222222;
  height: 75px;
  padding: 18px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-item {
  margin-right: 41px;
}

.right-menu {
  margin-right: 31px;
}

.offer {
  background: #F1E4E6;
  position: relative;
}

.offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 765px;
  background-image: url("../img/bold-man.png");
  background-repeat: no-repeat;
  background-position-x: -225px;
  background-position-y: bottom;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 90px;
}

.offer__text {
  position: relative;
  padding-left: 28px;
}

.offer__text::before {
  position: absolute;
  content: "";
  height: 92px;
  width: 12px;
  background-color: #F16D7F;
  left: 0;
}

.offer__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 45px;
  color: #222222;
}

.offer__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  color: #222222;
}

.offer__subtitle-red {
  color: #F16D7F;
}

.rightside-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 764px;
  width: 232px;
  background-color: #ffff;
  z-index: 3;
  -webkit-transition: all .6s;
  transition: all .6s;
  -webkit-box-shadow: inset -4px -2px 13px 1px;
          box-shadow: inset -4px -2px 13px 1px;
  display: none;
}

.rightside-menu__btn {
  margin-top: 16px;
  display: inline-block;
  margin-left: 203px;
}

.rightside-menu__block {
  margin-bottom: 20px;
}

.rightside-menu__title {
  font-weight: bold;
  color: #000000;
  margin-top: 9px;
  margin-bottom: 24px;
  margin-left: 34px;
}

.rightside-menu__subtitle {
  color: #F16D7F;
  font-weight: normal;
  margin-left: 33px;
}

.rightside-menu__list {
  margin-left: 54.5px;
  margin-top: 12px;
}

.rightside-menu__link {
  color: #6F6E6E;
  font-weight: normal;
}

.rightside-menu__item {
  margin-bottom: 11px;
}

.categories {
  padding-top: 65px;
  padding-bottom: 96px;
}

.categories__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories__item-women {
  background-image: url("../img/categories__item-img1.jpg");
  background-repeat: no-repeat;
}

.categories__item-men {
  background-image: url("../img/categories__item-img2.jpg");
  background-repeat: no-repeat;
}

.categories__item-kid {
  background-image: url("../img/categories__item-img3.jpg");
  background-repeat: no-repeat;
}

.categories__item-acc {
  margin-top: 30px;
  height: 180px !important;
  width: 100% !important;
  background-image: url("../img/accesoires-bg.jpg");
  background-repeat: no-repeat;
}

.categories__item {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 360px;
  height: 260px;
}

.categories__item-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories__item-subtitle {
  font-family: Lato;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.categories__item-title {
  font-family: Lato;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #F16D7F;
}

.feature-products__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
  text-align: center;
}

.feature-products__text {
  text-align: center;
  margin-bottom: 50px;
  font-weight: normal;
  color: #9F9F9F;
}

.feature-products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-products__item {
  max-width: 360px;
  margin-bottom: 30px;
  background: #F8F8F8;
}

.feature-products__item-img-bos {
  position: relative;
  cursor: pointer;
}

.feature-products__item-img-bos:hover .feature-products__item-hover {
  opacity: 1;
}

.feature-products__item-hover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(58, 56, 56, 0.86);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  height: 420px;
  width: 360px;
}

.feature-products__item-hover-link {
  position: relative;
  width: 138px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  opacity: .86;
  padding: 13px 16px 13px 40px;
  background-image: url("../img/hover-bucket.svg");
  background-repeat: no-repeat;
  text-align: center;
  display: inline-block;
  background-position-x: 11px;
  background-position-y: 8px;
}

.feature-products__item-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 25px 13px;
  padding-left: 16px;
  color: #000000;
}

.feature-products__item-text {
  max-width: 315px;
  display: inline-block;
  padding-bottom: 18px;
  padding-left: 16px;
  color: #5D5D5D;
}

.feature-products__item-price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-bottom: 20px;
  padding-left: 16px;
}

.all-products-button {
  margin: 0 auto;
  width: 213px;
  margin-top: 20px;
  -webkit-transition: all .6s;
  transition: all .6s;
  margin-bottom: 95px;
  white-space: nowrap;
}

.all-products-button:hover {
  background-color: #F26376;
}

.all-products-btn {
  border: 1px solid #FF6A6A;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  left: 0;
  right: 0;
  padding: 15px 39px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.all-products-btn:hover {
  color: #ffffff;
}

.advantages {
  background-color: #222224;
}

.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 104px 0;
}

.advantages__logo {
  min-height: 48px;
}

.advantages__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  margin-top: 19px;
  margin-bottom: 16px;
  color: #FBFBFB;
}

.advantages__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  opacity: .7;
  color: #FBFBFB;
  padding: 0 30px;
}

.feedback {
  background-color: #eee;
  background-image: url("../img/feedback-bg.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  height: 448px;
}

.feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 97px;
}

.feedback__content-text {
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  max-width: 360px;
  margin-top: 30px;
}

.feedback__content-form {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 104px;
}

.feedback__content-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}

.feedback__content-form-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  margin-bottom: 32px;
  text-align: center;
}

.feedback__content-btn {
  padding: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #F16D7F;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.feedback__content-btn:hover {
  background-color: #da1c35;
}

.feedback__input {
  background-color: #E1E1E1;
  padding: 20px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
}

.feedback__input::-webkit-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback__input:-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback__input::-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback__input::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback__input:hover {
  background-color: #e9e9e9;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__top {
  background: #F8F3F4;
}

.registration__content {
  margin-top: 64px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration__main-link {
  display: block;
  padding: 60px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.registration__fieldset {
  border: none;
}

.registration__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  border: none;
}

.registration__placeholder {
  border: 1px solid #A4A4A4;
  display: block;
  padding: 13px 0 16px 17px;
  width: 360px;
  margin-top: 20px;
}

.registration__placeholder::-webkit-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__placeholder:-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__placeholder::-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__placeholder::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__radio {
  margin: 32px 0;
  display: inline-block;
  margin-right: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration__input {
  margin-right: 10px;
}

.registration__text {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  max-width: 359px;
  padding: 15px 0 39px 0;
}

.registration__btn {
  padding: 16px 66px 17px 30px;
  background-color: #F16D7F;
  color: #FFFFFF;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.registration__btn:hover {
  background-color: #db4c5f;
}

.registration__btn::after {
  content: url("../img/arrow.svg");
  position: absolute;
  margin-left: 20px;
}

.registration__right-list-item {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
}

.registration__right-list-item::before {
  content: url("../img/registration-V.svg");
  margin-right: 22px;
}

.registration__right-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
  max-width: 652px;
}

.registration__right-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.footer {
  background: #222224;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__rights {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding: 30px 0;
}

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 23px 0;
}

.footer__menu-link {
  padding-top: 8px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  height: 32px;
  width: 32px;
}

.footer__menu-link:hover {
  background-color: #F16D7F;
  fill: #F8F3F4;
}

.catalog-top {
  background-color: #F8F3F4;
}

.catalog-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-top__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin: 60px 0;
}

.catalog-top .breadcrumps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-top .breadcrumps__link {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.catalog-top .breadcrumps__link-active {
  color: #F16D7F;
  font-weight: 700;
}

.catalog-top .breadcrumps__item {
  margin-right: 7px;
}

.catalog-top .breadcrumps__item::after {
  content: '/';
  margin-left: 7px;
}

.catalog-top .breadcrumps__item:last-child::after {
  display: none;
}

.catalog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 51px;
  margin-bottom: 64px;
}

.catalog-menu__filter {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-left: 16px;
}

.catalog-menu__filter::after {
  content: url("../img/filter-catalog.svg");
  margin-left: 11px;
}

.catalog-menu__main {
  margin-right: 420px;
}

.catalog-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-menu__list-item {
  margin-right: 28px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.catalog-menu__list-item::after {
  content: url("../img/catalog-V.svg");
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */